/*
/*   This file contains the variables that can be accessible to the whole webAPP
/*   By simply changing the variable value the results will reflect wherever you used
*/

$backgroundColor: #f8f8f8;
$color: #7c7c7c;
$weight:400;